.title{
  display: flex;
  align-items: center;
  border: 0.2rem solid rgb(75, 75, 75);
  border-radius: 0.5rem;
  box-shadow: 1px 5px rgb(5, 5, 5) ;
}

.title img{
    width: 12rem;
}

.media{
    display: flex;
    align-items: center;
}

.media img{
    width:6rem;
}



.form {
    position:relative;
    animation: slide 1.5s forwards;
    top:-130px;
  }
  
  @keyframes slide {
     0%{ opacity: 0;}

    100% { top: 0px; 
        opacity: 100%;
    }
  }

  .subtitle{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
  }
